<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PDEU</title>
  <link rel="stylesheet" href="static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <div class="logo" style="background-color: #1F3368 ;">
    <img height="104" src="static/pdeuofficial_cover.jpeg" alt="df">
  </div>

  <!-- This is used to connect the navbar.html file in it -->

  {%include 'navbar.html' %}

  <div class="container">
    <div class="image">
      <img src="static/service_1666247308.jpg" alt="Example Image">
    </div>
    <div class="text">
      <h2>PDEU</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet lacus nec metus commodo
        aliquam. Quisque fermentum, est at ultricies aliquam, nunc dui dictum odio, vel egestas erat metus nec
        velit. Integer sit amet arcu nulla. Nullam sit amet quam ut nisl tempus condimentum.</p>
      <p>Suspendisse potenti. Morbi venenatis ultricies lacus, et commodo purus eleifend ut. Integer at nisi quis
        justo venenatis gravida. Donec venenatis justo in nibh bibendum, a bibendum est ullamcorper. Etiam
        vehicula tincidunt lorem id cursus. Aenean ac orci at libero consequat elementum non sit amet purus.
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam vel alias non incidunt libero earum. Ad
        commodi repellat adipisci alias cumque quam aut quas et velit assumenda quia ullam, aperiam a beatae distinctio
        fuga dolore labore. Ex, aspernatur obcaecati ea nulla repellat illo architecto officiis!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aut numquam esse, dolores sunt iure ut eos rerum
        omnis, accusantium, eum officiis laborum architecto quo corrupti molestias quasi doloremque excepturi autem id
        repellendus? Ipsum rerum aperiam iure maiores vitae amet voluptas, officia atque natus quasi.
      </p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+9oAC7F5b1FvFknzVi/tmF8cfCZa5" crossorigin="anonymous">
    </script>
  <div class="row rowSec">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <p><a href="//spt.pdpu.ac.in/" target="_blank" previewlistener="true"><img src="static/SPT2.png" alt="spt"
            class="schoolLogo"></a></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <p><a href="//sot.pdpu.ac.in/" target="_blank" previewlistener="true"><img src="static/SOT2.png" alt="sot"
            class="schoolLogo"></a></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <p><a href="//spm.pdpu.ac.in/" target="_blank" previewlistener="true"><img src="static/SPM2.png" alt="spm"
            class="schoolLogo"></a></p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <p><a href="//sls.pdpu.ac.in/" target="_blank" previewlistener="true"><img src="static/SLS2.png" alt="sls"
            class="schoolLogo"></a></p>
    </div>
  </div>
</body>

</html>